body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient( hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #0a103a;
  border-bottom: 1px white solid;
  z-index: 1;

}
nav a{
  margin-right: 20px;
  margin-top: 20px;
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}
nav a:hover{
  color: #7c8af5;
  cursor: pointer;
  transition: 0.5s;
  text-shadow: 1px 1px #ecedf9;
}
nav a.active{
  cursor: pointer;
  border-bottom: 6px solid #f9f9fc;
  margin-bottom: 14px;
  transition: .5s;
}
.header{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  border: white 1px solid;
  border-radius: 15px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px 20px 40px;
}
.score{
  
  background-color: aliceblue;
  border-radius: 5px;
  float: right;
  padding: 0px 10px 0px 10px;
  color: #0d1344;

}
.score h3,.score h1{
  margin-bottom: 5px;
  margin-top: 15px;
}

.footer{
  /* border: 1px white solid; */
  width: fit-content;
  margin-top: 30px;
  margin-right: 8%;
  margin-left: auto;
  
}
.rulesPage{
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #50557bae;
  border-radius: 10px;
}
.rulesPage .rulesimg{
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  width: fit-content;
  border: 1px white solid;
  padding: 20px 20px 20px 20px;
  height: fit-content;
  background-color: #0a103a;
  color:aliceblue;
  border-radius: 10px;
  animation: rules 0.5s ease-in-out;
}
@keyframes rules{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

.rulesPage .close{
  float: right;
  margin:-10px -10px 20px 0px;
}
.rules{
  border-radius: 10px;
  background-color: #0a103a;
  color:aliceblue;
  padding: 8px 35px 8px 35px;
  height: auto;
}
.rules .rulesm{
  width:120%;
}
.rules:hover{
  /* transition: 5s; */
  transition: all 0.5s ease-in-out;
  /* width: 130px; */
  background-color: #070924;
  color: aliceblue;
  cursor: pointer;
}
.start{
  display: grid;
  grid-template-columns: auto auto;
  background-image: url("images/bg-triangle.svg");
  /* height: 29vh; */
  width : 380px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-position: center;
  gap: 100px 100px;
}
.start.Hard{
  background-image: url("images/bg-pentagon.svg");
}
.start div{
  transition:0.75s;
  border-radius: 50%;
  background-color: aliceblue;
  width:80px;
  height: 80px;
  padding-left: 28px;
  padding-top: 28px;
}
.start.Hard div{
  transition:0.75s;
  border-radius: 50%;
  background-color: aliceblue;
  width:63px;
  height: 63px;
  padding-left: 18px;
  padding-top: 18px;
}
.play{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  margin-bottom: 30px;
  gap: 100px 100px;
}
.play div{
  transition:0.75s;
  border-radius: 50%;
  background-color: aliceblue;
  width:80px;
  height: 80px;
  padding-left: 28px;
  padding-top: 28px;
}

.play div:hover{
  cursor: pointer;
    transition: 0.5s;
    scale: 1.1;
}
.start div:hover{
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 40px 10px #ffffff83;  
  /* color: aliceblue; */
  transform: rotate(180deg);
  
  
}

.shadow div{
  -webkit-box-shadow: 0 0 40px rgba(254, 249, 249, 0.8);
    -moz-box-shadow: 0 0 40px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.8);
    height: 20%;
    left: 10%;
    right: 10%;
    width: 80%;
    bottom: 0px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

  

.paper{
  border: 20px solid #001eff;
}
.scissors{
  border: 20px solid #ffd500;
}
.rock{
  border: 20px solid hsl(0, 100%, 50%);
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/ span 2;
}
.liz{
  border: 15px solid #b700ff;
  
}
.spock{
  border: 15px solid #00ffe1;
}
.start.Hard div img{
  width: 45px;
  height: 50px;
}
.start.Hard div{
  border-width: 13px;
}
.start.Hard{
  width: 400px;
  height:415px;
  gap:5px 150px;
}
.start.Hard .liz{
  margin-left: 40px;
}
.start.Hard .spock{
  margin-left: -45px;
}
.gameStart{
  /* border : 1px white solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:auto;
  column-gap: normal;
}
@media screen and (max-width: 680px){
  .gameStart{
    width: 100%;
  }
}
@media screen and (min-width: 680px){
  .gameStart{
    width: 60%;
  }
}
.mychoice {
  /* border: white 1px solid; */
  width: 50%;
}
.mychoice h1,h2,.mychoice h3{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: aliceblue;
}
.mychoiceimg .play {
  display: flex;
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
 align-items: center;
}
.mychoiceimg .play div{
  width: 100px;
  height: 100px;
  padding-top: 45px;
  padding-left: 45px;
}

.computerChoice{
  /* border: white 1px solid; */
  width: 50%;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
  border: white 1px solid;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  color: aliceblue;
  margin: auto;
  background-color: #ecedf9;
  color: #070924;
  transition: .7s;
}

.result h1{

  margin-top: 0px;
  margin-bottom: 10px;
}
.result div{
  width: 49%;
}
.result button{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: #0a103a;
  color:aliceblue;
  border: 1px white solid;
  transition: .5s;
}
.result button:hover{
  background-color: #070924;
  color: aliceblue;
  cursor: pointer;
  scale: 1.1;
  transition: .5s;
}
.result:hover{
  transition: .6s;
  scale: 1.2;
}